body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 0 0 0 0;
    color:white;
    background-color: #212f45; 
  
    width: 100%;
    height:100%;
    
  }

  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFFFFF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18pt;
    color: #272640;
    display: block;
    transition: 0s;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #006466;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .left{
     margin-top: 10px;

    
  }

  .left2{
    margin-left: 12px;
    margin-top: 2px;
    
   
 }
 .left3{
     margin-left: 80px;
 }

 .parent {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .fishes
    {
      position:absolute;
      top: 65px;
      left: 0px;
      z-index: 1;
      margin-left: 0px;
      padding-left: 0px;
    }
    .fish
    {
      position:relative;
      top: 0px;
      left: 0px;
      z-index: 2;
      margin-top: 0px;
    }
    
  }

  